MYSQL_ROOT_PASSWORD=rootsecret
MYSQL_DATABASE=stockflow
MYSQL_USER=stockflow
MYSQL_PASSWORD=secret

APP_KEY=base64:d1R45m6qF8b2v9P3x1z7k0L4y8j2m6qF8b2v9P3x1z4=
JWT_SIGNING_KEY=simple-stock-flow-jwt-super-secret-key-minimum-32-bytes
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin123456*

